extends layout
block config
  script.
    var config = {
      current: #{current},
      total: #{total},
      limit: #{limit},
      api: '#{api}',
      url: '#{url}',
      img_host: '#{img_host}',
      host: '#{host}',
      user: !{JSON.stringify(user)},
      tweets: !{JSON.stringify(tweets)}
    };

block sidebar
  include sidebar

block render
  script.
    render_info();
    render_tweets();
    $("#sidebar .menu .favorite").addClass('active');
