doctype html
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='UTF-8')
    title= title
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='shortcut icon', href='#')
    script(src='/static/js/react-0.11.2.js')
    script(src='/static/js/jquery-2.1.0.min.js')
    script(src='/static/js/dateFormat.js')
    block config
  body
    header#branding(role='banner')
      hgroup#logo
        h1#site-title
          a(href='#{host}', title='#{title}', rel='home')= title
        // h5#site-description
      nav(role='navigation')
        ul.topmenu
          li
            a(href='#{host}') 首页
          li
            a(href='#{host}/tweets/new') 发布
          li
            a(href='#{host}/favorite') 收藏
      #info
    .split
    section#main
      #content(role='main')
      #sidebar.widget-area(role='complementary')
        aside.widget.clearfix.widget_search
          h3.widget-title &#x7AD9;&#x5185;&#x641C;&#x56FE;
          form#searchform(method='get', action='#')
            input#s(type='text', name='s', placeholder='搜索...')
            input#searchsubmit(type='submit', name='submit', value='搜索')
    footer(role='contentinfo')
      | &copy; 2007-2014 &nbsp;
      a(href='#{host}', rel='home')= title
      span.sep
      a(target='_blank', href='#') 联系我们
      span.sep
      | 本站内容均来自互联网，如有侵权请与我们联系。

    script(src='/static/js/main.js')

    block render
